.CFUserTextEncoding
.cups/
.DBUserDefaults/
.DS_Store
.adobe/
.bash_history
.cache/
.config/
.dropbox/
.gem/
.ievms/
.mysql_history
.npm/
.node-gyp/
.php_history
.pearrc
.receitanet/
.rnd
.ssh/
.subversion/
.viminfo
.vim/*
.vim/.netrwhist
.Trash/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
github/
VirtualBox VMs/
dpd.log
