.CFUserTextEncoding
.DBUserDefaults/
.DS_Store
.adobe/
.bash_history
.dropbox/
.mysql_history
.npm/
.pearrc
.rnd
.ssh/
.viminfo
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
github/
.Trash/
.vim/
.receitanet/
